# Imagen base (Contenedor Docker Ubuntu)
image: ubuntu:22.04

# Definimos las etapas (Stages)
stages:
  - build-and-test

# Variables para evitar que la instalación de paquetes pregunte cosas (Timezone, etc)
variables:
  DEBIAN_FRONTEND: noninteractive

# --- EL TRABAJO PRINCIPAL ---
prueba_completa:
  stage: build-and-test
  
  # Instalar dependencias antes de empezar
  before_script:
    - apt-get update
    - apt-get install -y gcc make pkg-config libgtk-3-dev python3 python3-pip xvfb xdotool dos2unix
    - pip3 install pytest dogtail

  script:  

    - dos2unix makefile GUI_test_bash.sh
    
    # 1. Compilar y limpiar
    - make clean
    - make all
    # Entramos a la carpeta para que las rutas relativas del script funcionen
    - cd tests/
    # 2. Generar Datos de Test
    - python3 generacion.py
    
    # 3. Tests Unitarios (Pytest)
    - python3 test_puntofijo.py
    
    # 4. Smoke Test GUI (Python)
    - xvfb-run python3 test_GUI_basic.py

    #5.Test de de Interacción (Python)
    - xvfb-run python3 test_GUI_dogtial.py    
    - cd ..  # Volvemos a la carpeta incial
    
    # 5. Test de Interacción (Bash)
    - chmod +x GUI_test_bash.sh
    - export GDK_BACKEND=x11
    - xvfb-run ./GUI_test_bash.sh
