# Imagen base (Contenedor Docker Ubuntu)
image: ubuntu:22.04

# Definimos las etapas (Stages)
stages:
  - build-and-test

# Variables para evitar que la instalación de paquetes pregunte cosas (Timezone, etc)
variables:
  DEBIAN_FRONTEND: noninteractive

# --- EL TRABAJO PRINCIPAL ---
prueba_completa:
  stage: build-and-test
  
  # Instalar dependencias antes de empezar
  before_script:
    - apt-get update
    - apt-get install -y gcc make pkg-config libgtk-3-dev python3 python3-pip xvfb xdotool dos2unix
    - pip3 install pytest

  script:
    # 1. ENTRAR EN LA CARPETA (Equivalente a working-directory)
    - cd Practica6
    
    # 2. Reparar formatos (Windows -> Linux)
    - dos2unix makefile GUI_test_bash.sh
    
    # 3. Compilar (Limpiando primero)
    - make clean
    - make all
    
    # 4. Generar Datos de Test
    - mkdir -p tests/data
    - python3 generacion_de_testeo.py
    
    # 5. Tests Unitarios (Pytest)
    # Como tu python ya tiene las rutas bien, no necesitamos 'sed'
    - pytest tests/python/pytest_cap3.py -v
    
    # 6. Smoke Test GUI (Python)
    # Entramos a la carpeta para que las rutas relativas del script funcionen
    - cd tests/python
    - xvfb-run python3 GUI_test.py
    - cd ../..  # Volvemos a la carpeta Practica6
    
    # 7. Test de Interacción (Bash)
    - chmod +x GUI_test_bash.sh
    - export GDK_BACKEND=x11
    - xvfb-run ./GUI_test_bash.sh