name: Validación Automática Práctica 6
on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build-and-test:
    runs-on: ubuntu-22.04
    steps:
    # 1. Descargar el código (Esto siempre se hace en la raíz)
    - uses: actions/checkout@v3
    - name:  VER ESTRUCTURA DE CARPETAS
      run: |
            echo "=== ESTOY AQUÍ ==="
            pwd
            echo ""
            echo "=== ESTOS SON LOS ARCHIVOS ==="
            ls -R
    # 2. Instalar dependencias
    # (El apt-get da igual en qué carpeta se haga, así que no afecta)
    - name: Instalar Dependencias
      run: |
        sudo apt-get update
        sudo apt-get install -y gcc make pkg-config libgtk-3-dev python3 python3-pip xvfb xdotool wmctrl
        pip3 install pytest

    # 3. Compilar el proyecto
    # Ahora funcionará porque estamos dentro de ./practica6
    - name: Compilar Proyecto
      run: make all

    # 4. Generar los datos de prueba
    - name: Generar Casos de Test
      run: |
        mkdir -p tests/data
        python3 generacion_de_testeo.py

    # 5. Ejecutar Pytest (Capa Lógica)
    - name: Ejecutar Pytest
      run: |
        # Ejecutar tests
        pytest tests/python/pytest_cap3.py -v

    # 6. Smoke Test GUI (Python)
    - name: Smoke Test GUI (Python)
      run: |
        cd tests/python
        xvfb-run python3 GUI_test.py

    # 7. Test de Interacción (Bash)
    - name: Test de Interacción (Bash)
      run: |
        chmod +x GUI_test_bash.sh
        export GDK_BACKEND=x11
        xvfb-run ./GUI_test_bash.sh
