name: Validación Automática Práctica 6

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build-and-test:
    runs-on: ubuntu-22.04

    # EJECUTAR TODO DENTRO DE LA CARPETA 'Practica6'
    defaults:
      run:
        working-directory: ./Practica6

    steps:
    - uses: actions/checkout@v3

    # Instalamos dependencias y dos2unix
    - name: Instalar Dependencias
      run: |
        sudo apt-get update
        sudo apt-get install -y gcc make pkg-config libgtk-3-dev python3 python3-pip xvfb xdotool wmctrl dos2unix
        pip3 install pytest

    # Reparamos el makefile por si lo editaste en Windows
    - name: Reparar Makefile
      run: dos2unix makefile

    # COMPILACIÓN ROBUSTA (Clean + All)
    - name: Compilar Proyecto
      run: |
        make clean
        make all

    - name: Generar Casos de Test
      run: |
        mkdir -p tests/data
        python3 generacion_de_testeo.py

    - name: Ejecutar Pytest
      run: |
        pytest tests/python/pytest_cap3.py -v

    - name: Smoke Test GUI (Python)
      run: |
        cd tests/python
        xvfb-run python3 GUI_test.py

    - name: Test de Interacción (Bash)
      run: |
        dos2unix GUI_test_bash.sh
        chmod +x GUI_test_bash.sh
        export GDK_BACKEND=x11
        xvfb-run ./GUI_test_bash.sh
