name: Validación Automática Práctica 6

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build-and-test:
    runs-on: ubuntu-22.04

    defaults:
      run:
        working-directory: ./Practica6

    steps:
    - uses: actions/checkout@v3

    - name: Instalar Dependencias
      run: |
        sudo apt-get update
        sudo apt-get install -y gcc make pkg-config libgtk-3-dev python3 python3-pip xvfb xdotool wmctrl dos2unix scrot
        pip3 install pytest

    - name: Reparar Makefile
      run: dos2unix makefile

    - name: Compilar Proyecto
      run: |
        make clean
        make all

    - name: Generar Casos de Test
      run: |
        mkdir -p tests/data
        python3 generacion_de_testeo.py

    - name: Ejecutar Pytest
      run: |
        pytest tests/python/pytest_cap3.py -v

    - name: Smoke Test GUI (Python)
      run: |
        cd tests/python
        xvfb-run python3 GUI_test.py

    - name: Test de Interacción (Bash)
      run: |
        dos2unix GUI_test_bash_git_verificacion.sh
        chmod +x GUI_test_bash_git_verificacion.sh
        export GDK_BACKEND=x11
        xvfb-run ./GUI_test_bash_git_verificacion.sh
    
    # AHORA SÍ: Busca dentro de la carpeta images que creó el script
    - name: Guardar Evidencias (Screenshots)
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: capturas-gui
        path: Practica6/images/*.png
