name: Validación Automática Práctica 6

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main", "dev" ]

jobs:
  build-and-test:
    runs-on: ubuntu-22.04
    timeout-minutes: 15

    steps:
    - uses: actions/checkout@v3

    - name: Instalar Dependencias
      run: |
        sudo apt-get update -qq
        # Herramientas de compilación y GTK
        sudo apt-get install -y gcc make pkg-config libgtk-3-dev
        # Python y librerías de accesibilidad (necesarias para Dogtail)
        sudo apt-get install -y python3 python3-pip python3-pyatspi python3-gi gir1.2-atspi-2.0 at-spi2-core python3-cairo
        
        # Librerías de Python
        pip3 install pytest dogtail

    # Limpiar procesos zombies de GitHub Actions
    - name: Limpiar entorno Xvfb
      run: |
        sudo pkill Xvfb || true
        sudo rm -f /tmp/.X99-lock /tmp/.X*-lock

    - name: Compilar Proyecto
      run: |
        make clean
        make all 2>&1 | tee make.log
        
        # Verificación rápida del binario
        if [ ! -f "./bin/calculo_punto_fijo" ]; then
          echo "Error: No se generó el binario."
          exit 1
        fi
        echo "Binario compilado correctamente."

    # Tests
    - name: Generar y Ejecutar Tests Unitarios
      run: |
        python3 ./tests/generacion.py
        python3 tests/test_puntofijo.py

    - name: Test GUI (básico)
      run: |
        xvfb-run --auto-servernum --server-args="-screen 0 1024x768x24" \
          python3 ./tests/test_GUI_basic.py
